.par{
    width: 100%;
    height: auto;
    border: solid 1px bisque;
    display: flex;
    flex-wrap: wrap;
    display: flex; 
    justify-content: space-around;

  
}

.actual{
    width: 26%;
    margin-left: 4%;
    margin-top: 10px;
    border: solid 1px bisque;
    background-color:  white;
    padding: 5px 20px;
}
.jnjel{
   float: right;
   font-size: 12px;
}