#Header{
    padding: 300px 0px;
    background-image: url("https://www.ixbt.com/img/n1/news/2021/11/5/mercedes-c-klasse-limousine-2021_large.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

}